<div class="container">
    
    <div class="jumbotron">

        <div class="container">

            <h1>WPABLO Theme <small>for Wordpress</small></h1>
            <p>Demo Page (WordPress, AngularJS, Bootstrap)</p>
            <br/>
            <p>What is your name ? <input type="text" ng-model="name"></p>
            <p ng-if="name">Hello, {{name}} !</p>
            <br/><br/>
            <a class="btn btn-primary pull-right" ng-href="posts">All Posts</a><br/><br/>

        </div>

    </div>
        
</div>